.loader {
    position: absolute;
    width: 600px;
    height: 600px;
}

.loader div {
    position: absolute;
    border: 10px solid #de7b45;
    border-radius: 50%;
    animation: loader 3s ease-out infinite;
}

.loader div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes loader {
    0% {
        top: 300px;
        left: 300px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 600px;
        height: 600px;
        opacity: 0;
    }
}
